@charset "utf-8";
/* CSS Document */
body,ul,li,div{padding:0; margin:0}
.main{width:600px; height:500px}
.main .right{float:right; width:200px; height:383px; line-height:30px}
.contain{position:relative; width:383px; height:383px; background:#000; float:left}
.contain div{border:2px solid #FFF; width:125px; height:125px; position:absolute; clear:both}

